<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>
  <!-- jQuery library file -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js">
  </script>
  <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--<title> Responsive Sidebar Menu </title>-->
  <link rel="stylesheet" href="../css/items_css.css">
  <link rel="stylesheet" href="../css/all_css.css">

  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- Item Edit Modal -->
  <div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Item R-C-004</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form>
            <div class="form-group">
              <label for="ItemCode">Item Code</label>
              <input type="text" class="form-control" id="ItemCode" aria-describedby="emailHelp" placeholder="R-C-004">
            </div>

            <div class="form-group">
              <label for="ItemDesc"> Item Description </label>
              <input type="text" class="form-control" id="ItemDesc" placeholder="Silver Earrings Stud Earrings">
            </div>

            <div class="form-group">
              <label for="ItemPrice"> Item Price </label>
              <input type="text" class="form-control" id="ItemPrice" placeholder="350.00">
            </div>

          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Item Add Modal -->
  <div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form>
            <div class="form-group">
              <label for="ItemCode">Item Code</label>
              <input type="text" class="form-control" id="addItemCode" placeholder="">
            </div>

            <div class="form-group">
              <label for="ItemDesc"> Item Description </label>
              <input type="text" class="form-control" id="addItemDesc" placeholder="">
            </div>

            <div class="form-group">
              <label for="ItemPrice"> Item Price </label>
              <input type="text" class="form-control" id="addItemPrice" placeholder="">
            </div>

          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add Item</button>
        </div>
      </div>
    </div>
  </div>

  <!-- ItemView Modal -->
  <div class="modal fade" id="viewmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Item R-C-004</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Item Code</h4>
          <p>R-C-004</p>
          <h4>Item Description</h4>
          <p>Silver Earrings Stud Earrings</p>
          <h4>Item Price</h4>
          <p>350.00</p>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Copy</button>
        </div>
      </div>
    </div>
  </div>


  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxs-diamond icon'></i>

      <div class="logo_name">MS Silver</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">

      <li>
        <a href="home.html">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Home</span>
        </a>
        <span class="tooltip">Home</span>
      </li>




      <li>

        <a href="orders.html">
          <i class='bx bx-clipboard'></i>
          <span class="links_name">Orders</span>
        </a>
        <span class="tooltip">Orders</span>
      </li>
      <li>



        <a href="customers.html">
          <i class='bx bx-user'></i>
          <span class="links_name">Customers</span>
        </a>
        <span class="tooltip">Customers</span>
      </li>
      <li>

        <a href="items.html">
          <i class='bx bx-diamond'></i>
          <span class="links_name">Items</span>
        </a>
        <span class="tooltip">Items</span>
      </li>

      <li>

        <a class="sidebarCollapse">
          <i class='bx bx-arrow-to-left'></i>
          <span class="links_name">Hide Sidebar</span>
        </a>
        <span class="tooltip">Hide Sidebar</span>
      </li>


    </ul>
  </div>
  <section class="home-section">
    <nav class="navbar sticky-top navbar-light bg-light d-block d-sm-none ">
      <a class="navbar-brand" href="#"> <i class='bx bxs-diamond icon'></i> MS Silver</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="home.html">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="orders.html">Orders </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="items.html">Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="customers.html">Customers</a>
          </li>
        </ul>
      </div>
    </nav>
    <div style="width:100%" class="itemspage items sections">
      <div class="d-block d-sm-none header-title-block">
        <div class="header-left">
          <div style="float: left;">
            <h2><a class="headername" href="#">Items</a></h2>

          </div>

        </div>


      </div>
      <div style="width:100%" class=" order-table">

        <div class="d-none d-sm-block" id="toolbaritem">
          <div class="form-inline" role="form">
            <div class="form-group">
              <h2><a class="headername" href="items.html">Items</a></h2>
            </div>
          </div>
        </div>


        <table data-toolbar="#toolbaritem" data-toggle="table" style="border-color:white; border:0px "
          data-search="true" data-mobile-responsive="true" data-pagination="true" data-size data-buttons="buttons"
          class="sortable t-bg table-borderless" style=" margin-top: 2px;">

          <tr class="table-borderless table-names">
            <th data-width="50" data-sortable="true">Item Code</th>
            <th>Item Description</th>
            <th data-sortable="true">Item Price</th>
            <th>
              <i class='bx bx-dots-vertical-rounded'></i>
            </th>



          </tr>

          <tr class="table-content">
            <td>R-C-004</td>
            <td>Silver Earrings Stud Earrings</td>
            <td>350.00</td>
            <td>
              <div class="dropleft dropdown">
                <button class="btn menu-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class='bx bx-dots-vertical-rounded'></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#editmodal" data-toggle="modal" data-target="#editmodal">Edit</a>
                  <a class="dropdown-item" href="#viewmodal" data-toggle="modal" data-target="#viewmodal">View</a>
                  <a class="dropdown-item" href="#">Delete</a>
                </div>
              </div>
            </td>
          </tr>


          <tr class="table-content">
            <td>R-C-003</td>
            <td>Silver Earrings Designer Exclusive</td>
            <td>5450.00</td>
            <td>
              <div class="dropleft dropdown">
                <button class="btn menu-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class='bx bx-dots-vertical-rounded'></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Edit</a>
                  <a class="dropdown-item" href="#">View</a>
                  <a class="dropdown-item" href="#">Delete</a>
                </div>
              </div>
            </td>
          </tr>

          <tr class="table-content">
            <td>R-C-002</td>
            <td>Lovers' Collection Couple Ring</td>
            <td>950.00</td>
            <td>
              <div class="dropleft dropdown">
                <button class="btn menu-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class='bx bx-dots-vertical-rounded'></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Edit</a>
                  <a class="dropdown-item" href="#">View</a>
                  <a class="dropdown-item" href="#">Delete</a>
                </div>
              </div>
            </td>
          </tr>

          <tr class="table-content">
            <td>R-C-008</td>
            <td>Lovers' Collection Couple Ring</td>
            <td>980.00</td>
            <td>
              <div class="dropleft dropdown">
                <button class="btn menu-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class='bx bx-dots-vertical-rounded'></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Edit</a>
                  <a class="dropdown-item" href="#">View</a>
                  <a class="dropdown-item" href="#">Delete</a>
                </div>
              </div>
            </td>
          </tr>



        </table>


      </div>

    </div>
  </section>
  <script>
    function buttons() {
      return {
        btnAdd: {
          text: 'Add new row',
          icon: 'fa-plus',
          id: 'addBtn',
          event: function () {
            $("#addmodal").modal();

          },
          attributes: {
            title: 'Add new Item'
          }
        }
      }
    }
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");
    closeBtn.addEventListener("click", () => {
      sidebar.classList.toggle("open");
      menuBtnChange();//calling the function(optional)
    });
    searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
      sidebar.classList.toggle("open");
      menuBtnChange(); //calling the function(optional)
    });
    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
      if (sidebar.classList.contains("open")) {
        closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
      } else {
        closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
      }
    }
  </script>
</body>

</html>